{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">FORMULARIO DE CURSOS</h1>
{% endblock %}

{% block contenido_que_cambia %}

<h1> Formulario - Agregar curso</h1>
{% if formulario.errors %}

<p style="color:red"> Estan mal los datos introducidos, revisar</p>

{% endif %}

<form action= "{% url 'curso_formulario' %}" method="POST"> {% csrf_token %}

    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="Enviar">
</form> 
{% endblock %}

 